* {
  box-sizing: border-box;
}
body {
  margin: 0;
  border: 0;
  padding: 0;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  overflow: hidden;
}

#draw {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
