* {
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}
body {
  margin: 0;
  border: 0;
  padding: 0;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#can,
#im {
  visibility: hidden;
}

#draw {
  top: 0;
  left: 0;
  /* width: 100vw; */
  /* height: 100vh; */
}

#masker {
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  font-family: monaco, consolas, monospace;
}

.info {
  color: #ccc;
  font-family: monaco, consolas, monospace;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
